@font-face {
    font-family: roxale-story;
    src: url(./roxaleStory.otf);
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./mercury.jpg');
    font-family: roxale-story;
}